body {
    font-family: $font-primary;
    color: $text-color;
    background-color: $bg-color;
}

h1,
h2,
h3 {
    margin-bottom: $spacing-sm;
    color: $dark;
}

p {
    margin-bottom: $spacing-md;
}