@mixin respond-to($breakpoint) {
    @if $breakpoint ==mobile {
        @media (max-width: $mobile) {
            @content;
        }
    }

    @else if $breakpoint ==tablet {
        @media (max-width: $tablet) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (min-width: $desktop) {
            @content;
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn-styles($bg-color, $text-color: #fff) {
    display: inline-block;
    padding: 10px 20px;
    background-color: $bg-color;
    color: $text-color;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;

    &:hover {
        background-color: darken($bg-color, 10%);
    }
}