@charset "UTF-8";

// 1. Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. Vendors
// @import 'vendors/bootstrap'; // Example

// 3. Base
@import 'base/reset';
@import 'base/typography';

// 4. Layout
@import 'layout/header';
@import 'layout/hero';
@import 'layout/footer';

// 5. Components
@import 'components/buttons';
@import 'components/cards';

// 6. Pages
@import 'pages/home';

// 7. Themes
// @import 'themes/dark'; // Example