.btn {
    &-primary {
        @include btn-styles($white, $primary-color);
        font-weight: 600;

        &:hover {
            background-color: darken($white, 5%);
        }
    }

    &-secondary {
        @include btn-styles(transparent, $white);
        border: 2px solid $white;
        margin-left: $spacing-sm;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}