.main-header {
    background-color: $white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: $spacing-md 0;

    .container {
        @include flex-center;
        justify-content: space-between;
        max-width: $desktop;
        margin: 0 auto;
        padding: 0 $spacing-md;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-color;
    }

    .main-nav ul {
        display: flex;
        gap: $spacing-md;

        a {
            color: $text-color;
            font-weight: 600;

            &:hover {
                color: $primary-color;
            }
        }
    }
}